apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hdhomerun-tuner-proxy.fullname" . }}
  labels:
    {{- include "hdhomerun-tuner-proxy.labels" . | nindent 4 }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "hdhomerun-tuner-proxy.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "hdhomerun-tuner-proxy.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.hostNetwork }}
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      {{- end }}
      containers:
        - name: tuner-proxy
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["python", "hdhomerun_tuner_proxy.py"]
          args: ["{{ required "appProxyHost is required" .Values.appProxyHost }}"]
          env:
            {{- if .Values.debug }}
            - name: DEBUG
              value: "True"
            {{- end }}
          ports:
            - name: udp
              containerPort: 65001
              protocol: UDP
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
