{{- if .Values.service.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "hdhomerun-tuner-proxy.fullname" . }}
  labels:
    {{- include "hdhomerun-tuner-proxy.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: udp
      protocol: UDP
      name: udp
  selector:
    {{- include "hdhomerun-tuner-proxy.selectorLabels" . | nindent 4 }}
{{- end }}
