{{- if .Values.service.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "hdhomerun-app-proxy.fullname" . }}
  labels:
    {{- include "hdhomerun-app-proxy.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: tcp
      protocol: TCP
      name: tcp
  selector:
    {{- include "hdhomerun-app-proxy.selectorLabels" . | nindent 4 }}
{{- end }}
