apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "rtl-sdr.fullname" . }}
  labels:
    {{- include "rtl-sdr.labels" . | nindent 4 }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "rtl-sdr.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "rtl-sdr.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.hostNetwork }}
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      {{- end }}
      containers:
        - name: rtl-sdr
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.command }}
          command:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - name: rtl-tcp
              containerPort: {{ .Values.port }}
              protocol: TCP
          {{- if .Values.securityContext }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- end }}
          {{- if .Values.usb.enabled }}
          volumeMounts:
            - name: usb
              mountPath: /dev/bus/usb
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- if .Values.usb.enabled }}
      volumes:
        - name: usb
          hostPath:
            path: {{ .Values.usb.hostPath }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
